In [1]:
# immport libraries
import alphashape
import shapely.geometry as geometry
from shapely.geometry import Polygon
from descartes import PolygonPatch
import matplotlib.gridspec as gridspec
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import netCDF4
import cartopy.crs as ccrs
import cartopy.feature as cfeature
import cc3d
from shapely.geometry import shape
from shapely.ops import transform
import pyproj
from functools import partial
from datetime import datetime, timedelta

In [3]:
date = "20170713_00"

In [6]:
columns = ["level","value","main_label","sub_label","centroid_lon","centroid_lat","hull_area","owlag"]

In [13]:
df = pd.read_csv("../results/cluster_%s.dat" %date,names = columns, header = None, delim_whitespace = True)

In [38]:
levels = df["level"].value_counts(sort=False).index.to_numpy()

In [39]:
# for ilev,lev in enumerate(levels):
#     print(df[df["level"] == lev ])

In [40]:
# check 750 hPa
check_df = df[df["level"] == 750]

In [41]:
check_df["value"].value_counts(sort=False)

0.0      8
0.5      5
1.0      7
1.5     10
2.0     10
        ..
19.1     1
5.8      4
12.4     1
3.1      9
7.8      2
Name: value, Length: 196, dtype: int64

In [42]:
check_df

,level,value,main_label,sub_label,centroid_lon,centroid_lat,hull_area,owlag
2939,750,0.0,1,1,99.124,3.217,1.186983e+11,-1.753953e-05
2940,750,0.0,2,2,119.527,5.688,1.712777e+10,-4.354911e-06
2941,750,0.0,3,1,119.890,14.610,1.135138e+13,-9.656134e-07
2942,750,0.0,3,2,93.151,16.754,1.601772e+12,2.205947e-06
2943,750,0.0,3,4,109.843,5.537,7.003105e+09,5.779031e-07
...,...,...,...,...,...,...,...,...
3587,750,19.1,1,1,141.750,25.500,9.439158e+09,4.887164e-04
3588,750,19.2,1,1,141.770,25.520,9.011437e+09,4.957950e-04
3589,750,19.3,1,1,141.750,25.500,8.581038e+09,4.957950e-04
3590,750,19.4,1,1,141.779,25.559,7.297875e+09,5.121268e-04
3591,750,19.5,1,1,141.817,25.517,4.290483e+09,5.121268e-04